<h1>Welcome</h1>
<br>
<ul>
	<% @categories.each do |c| %>
		<%= c.name %>
		<% @businesses.each do |b| %>
			<ul><%= link_to(b.name, "/businesses/#{b.id}") %></ul>
		<% end %>
		<br>
	<% end %>
</ul>
<br>