<% if current_user.try(:admin?) %>
<br>
<br>
<br>
<br>
 <h3><%= link_to "Add, edit or Remove Businesses", businesses_list_path %></h3>
 <br>
 <h3><%= link_to "Add or Remove Categories", categories_list_path %></h3>
 <br>
 <% else %>
 <%= redirect_to "root_path" %>

<% end %>