<h1>Welcome</h1>
<p>Search for a business by name or category.</p>
	<%= 'search' %>
<br>
<ul>
	<% @businesses.each do |b| %>
		<li><%= link_to (b.name, "/businesses/#{b.id}") %></li>
	<% end %>
</ul>
<br>